.logo{border: solid black 2px;}
.welcome{font-size: 85px;}
.mainnav{border: solid black 2px;
         display: inline;
         font-size:40px;
          float: right;
          margin-right:25%;
          word-spacing: 30%;
          }
         /*margin-left: 80%;
         margin-bottom:50px;}*/
.orbit{border: solid black 2px;
      background-color: blue;
      height:50%;
      margin-left:25%;}

.coffeeimg{float: right;
          margin-right:25%;}

.circle_border{border-radius: 100%;
              display: table-column;
              height:250px;}
